/* Write some CSS below */
body {
  text-align: center;
  font-family: Big Shoulders Display;
  font-size: 40px;
  background-color:#04080F;
}
h2{
text-shadow: 2px 2px 10px;
color:white; 	
}

h3, h4, h5 {
  font-family: Big Shoulders Display;
}

.button {color: white ;
  font-size: 30px;
  padding: 16px 48px;
  border-radius: 6px;
  text-decoration: none;
  transition: .3s;
  background-color:#523249;
 }

.button:hover {
  color: #CE2FAE;
}

.banner {
background-image:url(images/macground.jpg); 
background-size: cover;
padding: 148px, 256px;
background-position: center;
color: #CE2FAE;
padding: 200px;
margin: 10px;
text-shadow: 2px 2px 10px;
opacity: 0.8;
border-radius: 6px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  background:#523249;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
  color:#04080F;
  text-shadow: 2px 2px 10px;
}

.card-white {
	box-shadow: 0 0 15px black;
	color:white;
	border-radius: 6px;
	padding: 20px;
	}

.myimg {
	width: 300px;
	border-radius:12px;
	padding: 30px;
	box-shadow: 0 0 16px rgba(0,0,0,0.3);
	background-color: #04080F;

}

.ul1{list-style-type: none;
  	color: white ;
  	font-size: 18px;
    background-color:#04080F;
    text-decoration: none;
    transition: .3s;
 }
.ul2{list-style-type: none;
  	color: white ;
  	font-size: 18px;
    background-color:#04080F;
    text-decoration: none;
    transition: .3s;
}
.ul3{list-style-type: none;
  	color: white ;
  	font-size: 18px;
  	background-color:#04080F;
    text-decoration: none;
    transition: .3s;
}
.ul1:hover {
  color: #CE2FAE;
 }
.ul2:hover {
  color: #CE2FAE;
 }
.ul3:hover {
  color: #CE2FAE;
 }
